@import './normalize';
@import './lib/charts.scss';

.chart-background {
  fill: silver;
  opacity: 0.1;
}

.chart-bar {
  fill: cornflowerblue;
}


pragma-barchart {
  display: block;
  width: 600px;
  height: 300px;
  margin: 1rem;
}

pragma-linechart {
  display: block;
  width: 600px;
  height: 300px;
  margin: 1rem;

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }
}

pragma-scatterchart {
    display: block;
    width: 600px;
    height: 300px;
    margin: 1rem;

  .shape {
    will-change: fill;
    transition: fill 1s;
    fill: #FB0;
  }

  .changed {
    fill: red;
  }
}

pragma-piechart {
  display: block;
  margin: 1rem;
  width: 600px;
  height: 350px;

  .arc text {
        font: 10px sans-serif;
        text-anchor: middle;
        }

   .arc path {
        stroke: #fff;
   }
}

pragma-areachart {
  //display: block;
  //width: 600px;
  //height: 500px;
  //margin: 1rem;
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }
}
