@import './normalize';
@import './lib/charts.scss';

.chart-background {
  fill: silver;
  opacity: 0.1;
}

.chart-bar {
  fill: cornflowerblue;
}


pragma-barchart {
  display: block;
  width: 600px;
  height: 300px;
  margin: 1rem;
}

pragma-linechart {
  display: block;
  width: 600px;
  height: 300px;
  margin: 1rem;

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }
}

pragma-scatterchart {
    display: block;
    width: 600px;
    height: 300px;
    margin: 1rem;

  .shape {
    fill: #FB0;
  }
}
