<template>
    <require from="./../../components/pragma-barchart/pragma-barchart"></require>
    <require from="./../../components/pragma-linechart/pragma-linechart"></require>

    <h1>Welcome</h1>
    <pragma-barchart data.bind="data" x-field="title" y-field="value" ref="barchart"></pragma-barchart>
    <pragma-linechart data.bind="data" x-field="title" y-field="value" ref="linechart"></pragma-linechart>

    <button click.delegate="addMore()">Add More</button>
    <button click.delegate="removeSum()">Remove Some</button>
    <button click.delegate="update()">Update</button>

    <ul>
        <li repeat.for="item of data">
            <span>${item.title}</span>
            <span> = </span>
            <span>${item.value}</span>
        </li>
    </ul>
</template>